@{
    ViewBag.Title = "Lend My Auto Home";

}

<div class="container" style="padding-top:70px;">
    <h1 style="text-align:center">
        Reinventing the “Experience” of Renting a Car
    </h1>
    <div class="row" style="padding-top: 30px;">

        <div class="col-lg-4" style="text-align:center">
            <div class="space">
                
                <img src="~/Images/LendMoney.png" style="width:50%;" />
            </div>
            <h2>Pay Once. Save lots.</h2>
            <p>
                Avoid the rental counter. As a member you gain access to a network of “car sharers” 
                
                saving you hundreds to thousands of dollars in car rental at airports or wherever your travels take you.

            </p>
        </div>
        <div class="col-lg-4" style="text-align:center">
            <div class="space">
                <img src="~/Images/LendSettings.png" style="width:50%;" />

            </div>
            <h2>
                How does it work?
            </h2>
            <p>
                You share your car while you’re away traveling and someone else shares their car for you to use at your final destination.
                Simple as that. A community of “car-sharers.”
                Don’t own a car? Don’t worry you can still become a member. Click <a href="@Url.Action("Contact", "Home", new { scroll = 1})">here</a> to learn more.
            </p>
        </div>
        <div class="col-lg-4" style="text-align:center">
            <div class="space">
                <img src="~/Images/umbrella3.png" style="width:50%" />
            </div>
            <h2>
                What about Insurance?
            </h2>
            <p>
                Don’t stress about insurance.  Once vetted by one of our representatives our 
                members can elect to use their own insurance or use our $1,000,000 comprehensive insurance policy.  
                In either case as an owner your vehicle is protected.  
                We steer clear from insurance add-on’s you don’t need. Click <a href="@Url.Action("Contact", "Home", new { scroll = 1})">here</a> to learn more.

            </p>
        </div>
    </div>

    <div class="row " style="padding-top:30px;">

        <div class="col-lg-6 col-sm-12">
          
                <div class="space">
                    <div class="col-lg-8 col-sm-12 home-icons" >
                        <img src="~/Images/checkbox.png" style="width:50%" />
                    </div>
                
            </div>
            
                <h2 style="text-align:center;" >
                    Still not sure?
                </h2>
                <p style="text-align:center;">
                    As a part of our service a member of our team will physically check-in/out each vehicle that is rented.


                </p>
            </div>

        <div class="col-lg-6 col-sm-12" >
            <div class="space">
                <div class="col-lg-8 col-sm-12 home-icons"  >
                    <img src="~/Images/volunteer2.png" style="width:50%" />
                    </div>
                </div>
                <h2 style="text-align:center">
                    Our Social Mission
                </h2>
                <p class="justify-content-center" style="text-align:center">
                    We aim to give back to those, who don’t have access to reliable forms of transportation in your community and around the world. Peers helping out their peers.
                    Beautiful. Want to play a bigger part in our social mission? Click <a href="@Url.Action("Contact", "Home", new { scroll = 1})">here</a> and let us know you’re interested.

                </p>
            </div>
    </div>
    <div>
        <div class="row justify-content-center" style="margin-top:30px;">
            <h4 class="signcall-font">
                Be the first to see our app and tell us how we can improve our service.
            </h4>
        </div>
        <div class="row justify-content-center">
           <h3>Click <a style="color:#4C4CE2" href="@Url.Action("Contact", "Home", new { scroll = 1})">here</a> to sign up now.</h3>
        </div>
       
    </div>
</div>
<div class="modal fade" id="SurveyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">We value your opinion</h3>
                <button type="button" onclick="UpdateSession()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Help us out by taking our survey!
            </div>
            <div class="modal-footer">
                
                <a href="https://www.surveymonkey.com/r/VFXKRFF" target="_blank"  style="background-color:#4C4CE2; border-color:#4C4CE2" onclick="CloseSurvey()" class="btn btn-primary" role="button">Take Survey</a>
            </div>
        </div>
    </div>
</div>
<style>
    .space {
    padding-bottom: 15px;
    
    }
</style>

@section scripts{
    <script>
        $(document).ready(function () {

            $("h1.heading").attr("style", "text-align:left;  margin-left: 10%;");
            $("h1.heading-2").attr("style", "text-align:left;  padding-top:10px; margin-left: 10%;");

            $("h1.heading").text("Community of");
            $("h1.heading-2").text("Car Sharers");

            if (@Session["Survey"] == 1) {
                $('#SurveyModal').modal('show');
            }
        });
        function CloseSurvey(){
            $('#SurveyModal').modal('hide');
            UpdateSession();
        }
        function UpdateSession() {
            $.get('@Url.Action("UpdateSurvey", "Home")', function () {
            });
        }
        $(document).click(function () {
            UpdateSession();
        });
    </script>

}